body {
    margin: 0;
    padding: 0;
}

caption {
    display: none;
}

h2 {
    font-size: 5rem;
}

/* CARTE SPOTIFY */

.album {
    position: relative;
}

.album img {
    position: absolute;
    width: 100%;
    max-height: 30rem;
    max-width: 30rem;
}

.copie-album {
    display: none;
}

#album-dessus {
    z-index: 10;
}

.azur-mimosa {
    background-color:#f5c555e1;
    color: black;
    display: grid;
    height: 300px;
    padding: 30px;
}

.spotify {
    z-index: 11;
}

.spotify a {
    color: black;
}

.spotify i {
    font-size: 2em;
}

.spotify a:hover, .spotify a:focus {
    color:#1ED760;
}

.spotify > p:nth-child(2) {
    font-weight: bold;
}

/* QUI EST DELAZUR */

article > h3 {
    color:#d679a6;
    font: 3rem 'Damion', serif;
}

/* MEMBRES DU GROUPE */

td h3 {
    color: #f5c555;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 5px;
    text-transform: uppercase;
}

th {
    font-weight: 400;
    text-align: left;
}

.tableau-infos-musicien:hover .tableau-infos-par-dessus tr {
    border-bottom: 1px solid white;
}

.conteneur-tableau-membre {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    padding: 16px;
}

.conteneur-tableau-membre:hover {
    background-color: rgba(0, 0, 0, 0.70);
}

.tableau-infos-musicien {
    border-collapse: collapse;
    max-width: 275px;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.liste-membres-groupe {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.liste-membres-groupe img {
    width: 100%;
    z-index: 0;
}

.membre-groupe {
    position: relative;
    max-width: 275px;
    margin: 30px 10px;
}

.tableau-infos-par-dessus {
    opacity: 0;
}

.tableau-infos-musicien:hover .tableau-infos-par-dessus {
    opacity: 100;
}





@media screen and (min-width: 800px) {
    .album {
        grid-column: 1 / 4;
    }

    .azur-mimosa {
        grid-template: repeat(2, 1fr) / repeat(12, 1fr);
    }

    .copie-album {
        display: block;
    }

    .spotify {
        grid-column: 10 / 13;
    }
    
    .spotify h2 {
        grid-area: 1 / 10 / 2 / 13;
    }

    .icone-zone-spotify {
        grid-area: 2 / 12 / 3 / 13;
    }
}

