main { 
	background: #f5c555;
	color: #fff;
	padding: 40px;
}

main div {
	margin-top: 30px;
}

fieldset { 
	border: 2px solid #e47cb3;
	margin-bottom: 40px;
}

fieldset:nth-child(2) { 
	background: rgba(214, 121, 171, 0.5);
}

legend { 
	text-align: center;
}

label, main p { 
	font-size: 1.7rem;
	display: block;
}

input {
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	font-family: 'Montserrat', sans-serif;
	padding: 15px 10px;
	width: 85%;
}

.adresse { 
	padding: 45px;
}

#province { 
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	height: 50px;
	border: 1px solid #000;
	padding-left: 15px;
	width: 250px;
}

::placeholder {
	color: black;
}

.preferences, 
.site_spectacle, 
.show, 
.mot_de_passe { 
	border: none;
	margin-left: 20px;
}

#couleur { 
	border: none;
	width: 50px;
	height: 50px;
}

input[type=range] {
	background: transparent; 
	-webkit-appearance: none;
	width: 90%;
} 

input[type=range]::-webkit-slider-thumb {
	border: 1px solid #e47cb3; 
	border-radius: 50%;
	background: #f5c555;
	cursor: pointer;
	height: 30px;
	transform: translateY(-35%);
	-webkit-appearance: none;
	width: 30px;
}

input[type=range]::-webkit-slider-runnable-track {
	background: #e47cb3;
	border-radius: 10px;
	cursor: pointer;
	height: 10px;
}

.checkbox-boxes div {
	display: flex;
	align-items: flex-end;
	margin: 0;
}

.checkbox div input {
	height: 20px;
	width: 20px;
	margin-left: 8px;
}

.membres_preferes div input {
	height: 13px;
	width: 13px;
	margin: 0 8px 0 0;
}

.membres_preferes div { 
	display: flex;
	align-items: flex-start;
	margin: 3px 45px;
}

.mot_de_passe { 
	padding-top: 40px;
	width: 80%;
}

.boutons { 
	display: flex;
	justify-content: space-around; 
	width: 350px;
	margin: 50px auto;
}

button { 
	background: transparent;
	height: 45px;
	width: 120px;
	border: 1px solid #000;
}

button:focus,
button:hover { 
	background: #d679ab8c;
	border: 3px solid #d679ab8c;
}

@media screen and (min-width: 1200px) {

	main div {
		margin-top: 40px;
	}
	
	.informations_generales {
		display: flex;
		flex-wrap: wrap;
		padding: 50px;
	}

	.informations_generales div {
		width: 50%;
	}

	.informations_generales > div:nth-child(4),
	.informations_generales > div:nth-child(7) {
		width: 100%;
	}

	.adresse {
		display: flex;
		justify-content: space-between;
	} 

	.adresse div {
		margin-right: 30px;
	}
	
	.checkbox label {
		font-size: 1.2rem;
	}

	/* ------------ Version flex ---------------- */
	
	/* .preferences {
		display: flex;
		justify-content: space-around;
		padding: 0 50px;
		margin: 0 0 30px 0;
	}

	.preferences div {
		width: 25%;
	}

	.site_spectacle {
		display: flex;
		padding: 0 50px;
		margin: 0 0 30px 0;
	}

	.site_spectacle div {
		width: 50%;
	}

	.site_spectacle label {
		padding-bottom: 20px;
	}

	.show {
		display: flex;
		padding: 0 50px;
		margin: 0 0 40px 0;
	}

	.show > div {
		width: 50%;
	}

	.show p {
		margin: 0;
	}

	.checkbox-boxes {
		display: flex; 
		justify-content: space-between;
		margin-top: 30px;
		padding-right: 50px;
	} */
	
	/* ------------- Version grid ------------------- */

	.preferences {
		display: grid;
		column-gap: 100px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
		margin: 0 0 40px 0;
		padding: 0 50px;
	}
	
	.site, .show {
		grid-column: 1 / 3;
		margin-left: 0;
	}
	
	.note, .checkbox {
		grid-column: 3 / 5;	
	}
	
	.checkbox p {
		margin: 0;
	}

	.checkbox-boxes {
		display: flex; 
		justify-content: space-between;
		padding-right: 50px;
		margin-top: 30px;
	}

	/* ------------------------ */

	.membres_preferes {
		display: flex;
		justify-content: space-between;
		padding: 50px;
	}

	.membres_preferes div {
		display: flex;
		align-items: center;
	}

	.mot_de_passe {
		width: 100%;
	}
}