/* ---- Général ---- */

* {
    transition: all 0.5s ease-in-out;
}

html {
    font-size: 50%;
}

body {
    background-color: black;
    background-image: url("/src/assets/img/header.jpg");
    background-size: auto 100vw;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    color: white;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(5, 1fr);
    font: 1.5rem 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

main {
    grid-column: 1 / 6;
}

.serif {
    font-family: 'Damion', serif;
}


/* ---- Header ---- */

header {
    grid-column: 1 / 6;
    grid-row-end: 1;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

header > div > img {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

header > nav {
    background-color: rgba(0, 0, 0, 0.7);
}

header > nav > ul {
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 4rem;
    margin-top: 0;
    padding: 0;
    text-transform: uppercase;
}

header li {
    flex-grow: 1;
    text-align: center;
}

header li a {
    border-bottom: 1px solid #f5c555;
    color: #f5c555;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}

header li a:hover, header li a:focus {
    border-color: #d679a6;
    outline: none;
    color: #d679a6;
    border-bottom: none;
}

header li a.active {
    border-color: transparent;
    color: #d679a6;
    font-weight: bold;
    pointer-events: none;
}


/* ---- Main ---- */

body > main > h2 {
    letter-spacing: 10px;
    text-align: center;
    color: #d679a6;
    text-transform: uppercase;
    font-size: 6rem;
}


/* ---- DIV ---- */

body > main > div {
    background: #826644;
    margin: 50px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: pink;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 160px;
}

body > main > div > button {
    background: pink;
    border-style: solid;
    border-color: #f5c555;
    float: right;
    padding: 15px;
    align-self: flex-end;
    text-transform: uppercase;
}

body > main > div > button:hover {
    background-color: white;
}

.bouton_soumettre, .bouton_fermer {
    border: none;
    margin: 20px;
    padding: 15px;
}

body > main > div > a:link {
    text-decoration: none;
    color: black;
}

h3 {
    font-size: 3rem;
    margin: 0;
}

time {
    font-weight: bold;
    font-size: 2rem;
}



/* ---- Footer ---- */

footer {
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    grid-row-start: 3;
    grid-column: span 16;
    font-size: 0.8em;
    text-align: center;
    width: 100%;
    padding: 0 50px;
}

footer a {
    color: #d679a6;
    text-decoration: none;
}

footer a:hover, footer a:focus {
    color: white;
    outline: none;
}

footer img {
    width: 150px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

footer div:nth-child(3) ul {
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
}

footer div:nth-child(3) ul li {
    padding: 0 15px;
}

footer div:last-child {
    text-align: right;
}



/* ----  Modal ---- */

.abonner {
    font-size: 2rem;
    letter-spacing: 10px;
    background-color: #f5c555;
    text-align: center;
    border-style: none;
    text-transform: uppercase;
}

.modal {
    margin: 0;
    padding: 0;
    border: none;
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_courriel {
    display: none;
    position: relative;
    flex-flow: column;
    background-color: #f5c555;
    padding: 0px 15px 15px 30px;
}

#courriel {
    border: none;
    border-bottom: solid 1px black;
    background-color: #f5c555;
    color: black;
}

.modal_courriel_merci {
    align-self: center;
    position: relative;
    width: 25%;
    display: none;
    flex-flow: column;
    background-color: #f5c555;
    padding: 0px 15px 15px 30px;
}

.modal_courriel_merci > div, .modal_courriel > div {
    align-self: center;
}

.fermerLaFenetre {
    align-self: flex-end;
    color: black;
}

.bouton_soumettre, .bouton_fermer {
    border: none;
    margin: 20px;
    padding: 15px;
}


/* ---- Media Queries ---- */

@media screen and (min-width: 800px) {
    main {
        grid-column: 2 / 16;
    }

    body {
        grid-template-columns: repeat(16, 1fr);
        grid-row-gap: 50px;
    }

    header {
        grid-column: 2 / 16;
    }

    header > nav > ul {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1224px) {
    html {
        font-size: 62.5%;
    }

    body {
        background-attachment: fixed;
        background-size: auto 100vh;
    }

    header > div {
        height: 100vh;
    }

    header > nav {
        background-color: transparent;
    }
}